{% extends 'student/studentindex.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post">
  <table width="200" border="1" class="table" bgcolor="#b8e0d2">
    <tbody>

      <tr>
        <td>#</td>
        <td>course</td>
        <td>fee</td>

        <td>status</td>
      </tr>
      {% for i in v  %}
      <tr>
        <td>{{loop.index}}</td>
        <td>&nbsp;{{i['course']}}</td>
        <td>{{i['fee']}}</td>

        <td>{{i['status']}}</td>


      </tr>
    {% endfor %}
    </tbody>
  </table>
</form>
</body>
{% endblock %}
