{% extends 'staff/staffindex.html'%}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="addgovtsho">
  <table width="200" border="1" class="table" bgcolor="#b8e0d2">
    <tr>
      <td>#</td>
      <td>scholarship</td>
      <td>amount</td>
      <td>details</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{loop.index }}</td>
      <td>&nbsp;{{i['scholarship']}}</td>
      <td>&nbsp;{{i['amount']}}</td>
      <td>&nbsp;{{i['details']}}</td>
      <td><p><a href="editgovtshol?id={{i['gid']}}">edit</a></p>
      <p><a href="delegovtsho?id={{i['gid']}}">delete</a></p></td>
    </tr>
    {% endfor %}
     <tr>
        <td colspan="5" align="center"><blockquote>
          <blockquote>
            <blockquote>
              <p>
                <input type="submit" name="submit" id="submit" value="add">
              </p>
            </blockquote>
          </blockquote>
        </blockquote></td>
      </tr>
  </table>
</form>
</body>
{% endblock %}
